.qviz-wrap {
    background: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    .qviz-1 {
        position: absolute;
        top: -20px;
        right: 300px;
        @media (max-width: 990px) {
           height: 60px;
        }
    }
    .qviz-2 {
        position: absolute;
        left: -20px;
        top: 60px;
        @media (max-width: 990px) {
            height: 120px;
        }
    }
    .qviz-3 {
        position: absolute;
        left: -20px;
        bottom: 20px;
        @media (max-width: 990px) {
            height: 150px;
            bottom: 15%;
        }
    }
    .qviz-4 {
        position: absolute;
        right: -20px;
        bottom: 10px;
        @media (max-width: 990px) {
            height: 150px;
            bottom: 30%;
         }
    }
    .qviz-title-box {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        @media (max-width: 990px) {
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            @media (max-width: 576px) {
                font-size: 1.2rem;
                line-height: 20px;
            }
        }
        .logo-qviz {
            height: 65px;
            cursor: pointer;
            @media (max-width: 990px) {
                height: 35px;
            }
        }
    }
    .qviz-info-wrap {
        position: relative;
        z-index: 9;
        .qviz-number-box {
            display: flex;
            align-items: center;
            margin-bottom: 150px;
            position: relative;
            @media (max-width: 990px) {
                margin-bottom: 30px;
            }
            .num {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                margin-right: 10px;
                font: 2rem 'gilroy-exbold';
                background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
                @media (max-width: 990px) {
                    font-size: 1.125rem;
                    height: 30px;
                    width: 30px;
                }
                @media (max-width: 576px) {
                    position: absolute;
                }
            }
            .question-text {
                color: #4F4F4F;
                letter-spacing: 0.2px;
                font: 1.4rem "gilroy-bold";
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
                @media (max-width: 576px) {
                    padding-left: 40px;
                }
            }
        }
    }
    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) 
    {
        position: absolute;
        left: -9999px;
    }

    input[type="radio"]:checked + label, 
    input[type="radio"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left:40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 28px;
        color: #4F4F4F;
        font: 1.1rem 'gilroy-medium';
        @media (max-width: 990px) {
            font-size: 1rem;
        }
    }

    input[type="radio"]:checked + label:before, 
    input[type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 25px;
        height: 25px;
        border: 1.5px solid #ff702d;
        background: transparent;
        border-radius: 4px;
    }

    .qviz-question-container {
        display: flex;
        @media (max-width: 990px) {
            flex-direction: column;
        }
    }

    .qviz-radio{
        position: relative;
        margin-bottom: 60px;
        margin-right: 100px;
        margin-left: 40px;
        @media (max-width: 990px) {
            margin: 0;
            margin-bottom: 20px;
        }
        &::before {
            content: '';
            background: transparent;
            border: none;
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 4px;
        }
    }

    .active-check {
        &::before {
            content: '';
            background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
            border: 1px solid #ff712c;
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 4px;
        }
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        height: 8px;
        width: 12px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        left: 7px;
        top: 6px;
    }
    

    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="radio"]:checked + label:after {
        opacity: 1;
    }

    .logo-desk {
        display: block;
        @media (max-width: 990px) {
            display: none;
        }
    }
    
    .call-mob {
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
    }

}

.warning {
    position: absolute;
    width: 360px;
    border-radius: 20px;
    background: #12B3D6;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 9;
    padding: 10px;
    color: #fff;
    font: 1rem/24px "gilroy-medium";
    right: 0;
    top: 0;
    display: block;
    @media (max-width: 576px) {
        width: auto;
        padding: 5px;
        font-size: .87rem;
    }
    &::before {
        content: ''; 
        position: absolute;
        right: 70px; top: -20px; 
        border: 10px solid transparent; 
        border-bottom: 10px solid #12B3D6; 
    }
}


.panel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -80px;
    margin-bottom: 80px;
    @media (max-width: 990px) {
       right: 0;
       margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        justify-content: space-between;
    }
    div {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, .21);
        border-radius: 30px;
        padding: 8px 25px;
        margin: 0 15px;
        cursor: pointer;
        font: 1rem 'gilroy-medium';
        display: flex;
        align-items: center;
        position: relative;
        span {
            display: block;
            position: absolute;
        }
    }
    .next {
        background: linear-gradient(90.58deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        color: #fff;
        span {
            right: 8px;
            top: 10px;
        }
    }
    .prev {
        background: #fff;
        color: rgba(21, 21, 21, .5);
        span {
            left: 8px;
            top: 10px;
        }
    }
}

.panel-control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 990px) {
        margin-bottom: 10px;
    }
    &::before {
        content: '';
        border: 1px solid #E0E0E0;
        border-radius: 11px;
        height: 9px;
        width: 99%;
        position: absolute;
        left: 0;
        top: 13px;
        @media (max-width: 768px) {
            height: 6px;
            top: 7px;
        }
    }
    .panel-contol-btn {
        color: #fff;
        font: 1.5rem 'gilroy-bold';
        background: linear-gradient(269.66deg, #12CAD6 44.69%, #12B3D6 98.38%);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        cursor: pointer;
        @media (max-width: 768px) {
            font-size: .75rem;
            height: 15px;
            width: 15px;
        }
    }
}


.qviz-complate-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 500px;
    z-index: 9;
    @media (max-width: 990px) {
        height: auto;
        flex-direction: column;
    }
    .qviz-complate-box {
        max-width: 800px;
        margin-right: 15px;
        @media (max-width: 990px) {
           margin-bottom: 20px;
           max-width: 100%;
        }
        .title-xsm {
            color: #4F4F4F;
            font: 1.5rem 'gilroy-medium';
            margin-bottom: 10px;
            @media (max-width: 990px) {
                font-size: 1.25rem;
            }
        }
        .text-simple {
            font: 1rem 'gilroy-light';
            @media (max-width: 990px) {
                font-size: .95rem;
            }
        }
    }
    .qviz-helper-form {
        margin-top: 80px;
        @media (max-width: 990px) {
            margin-top: 0;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
        .qviz-input-box {
            width: 300px;
            margin-bottom: 20px;
            @media (max-width: 576px) {
                width: 100%;
            }
        }
        input {
            border: 1px solid #E0E0E0;
            background: #fff;
            border-radius: 10px;
            padding: 8px 8px 25px 8px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    .qviz-messenger {
        display: flex;
        margin-bottom: 20px;
        @media (max-width: 576px) {
            flex-direction: column;
        }
        p {
            color: #4F4F4F;
            font: 1rem 'gilroy-bold';
            margin-right: 20px;
            margin-left: 5px;
            @media (max-width: 990px) {
                font-size: .95rem;
            }
            @media (max-width: 576px) {
                margin: 0 0 15px 0;
            }
            br {
                @media (max-width: 576px) {
                    display: none;
                }
            }
        }
        a {
            margin: 0 5px;
            @media (max-width: 576px) {
               margin-right: 5px;
            }
        }
    }
    .qviz-btn {
        @media (max-width: 576px) {
            width: 100%;
        }
    }
    .btn-gold {
        font: 1rem 'gilroy-medium';
        border: none;
        @media (max-width: 576px) {
            width: 100%;
        }
    }
    ::-webkit-input-placeholder {
        color: #4F4F4F;
        font: 1rem 'gilroy-medium';
    }
    ::-moz-placeholder          {
        color: #4F4F4F;
        font: 1rem 'gilroy-medium';
    }/* Firefox 19+ */
    :-moz-placeholder           {
        color: #4F4F4F;
        font: 1rem 'gilroy-medium';
    }/* Firefox 18- */
    :-ms-input-placeholder      {
        color: #4F4F4F;
        font: 1rem 'gilroy-medium';
    }
    .qviz-num {
        display: flex;
        position: relative;
        cursor: pointer;
        .country-select {
            display: flex;
            position: absolute;
            align-items: center;
            width:87px;
            justify-content: space-between;
            left: 10px;
            bottom: 5px;
            p {
                color: #4F4F4F;
                font: .87rem 'gilroy-medium';
                position: relative;
                left: -7px;
            }
            .flag {
                border-radius: 5px;
            }
            .arrow {
                position: relative;
                bottom: -5px;
            }
        }
        .counrty {
            width: 100px;
            border-radius: 10px 0 0 10px;
            pointer-events: none;
        }
        input:last-child {
           border-radius: 0 10px 10px 0; 
        }
    }
}