.bg_palm_area_mob_3 {
    width: 68px; height: 60px;
    background: url('../img/sprite/palm/home-palm.png') -647px -962px;
}

.bg_palm_area_mob_4 {
    width: 43px; height: 73px;
    background: url('../img/sprite/palm/home-palm.png') -1074px -338px;
}

.bg_palm_buy_desk_1 {
    width: 200px; height: 162px;
    background: url('../img/sprite/palm/home-palm.png') -10px -962px;
}

.bg_palm_buy_desk_2 {
    width: 215px; height: 249px;
    background: url('../img/sprite/palm/home-palm.png') -839px -338px;
}

.bg_palm_buy_desk_3 {
    width: 313px; height: 255px;
    background: url('../img/sprite/palm/home-palm.png') -403px -484px;
}

.bg_palm_buy_desk_4 {
    width: 288px; height: 308px;
    background: url('../img/sprite/palm/home-palm.png') -839px -10px;
}

.bg_palm_buy_mob_1 {
    width: 74px; height: 111px;
    background: url('../img/sprite/palm/home-palm.png') -210px -1144px;
}

.bg_palm_buy_mob_2 {
    width: 83px; height: 128px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -853px;
}

.bg_palm_buy_mob_3 {
    width: 75px; height: 66px;
    background: url('../img/sprite/palm/home-palm.png') -552px -962px;
}

.bg_palm_category_desk_1 {
    width: 305px; height: 179px;
    background: url('../img/sprite/palm/home-palm.png') -10px -763px;
}

.bg_palm_category_desk_2 {
    width: 178px; height: 134px;
    background: url('../img/sprite/palm/home-palm.png') -879px -763px;
}

.bg_palm_category_mob_1 {
    width: 66px; height: 93px;
    background: url('../img/sprite/palm/home-palm.png') -736px -630px;
}

.bg_palm_category_mob_2 {
    width: 80px; height: 75px;
    background: url('../img/sprite/palm/home-palm.png') -452px -962px;
}

.bg_palm_category_mob_3 {
    width: 93px; height: 60px;
    background: url('../img/sprite/palm/home-palm.png') -709px -350px;
}

.bg_palm_filter_desk_1_min {
    width: 155px; height: 243px;
    background: url('../img/sprite/palm/home-palm.png') -1147px -685px;
}

.bg_palm_filter_desk_2_min {
    width: 222px; height: 155px;
    background: url('../img/sprite/palm/home-palm.png') -637px -763px;
}

.bg_palm_filter_desk_3_min {
    width: 282px; height: 170px;
    background: url('../img/sprite/palm/home-palm.png') -335px -763px;
}

.bg_palm_filter_desk_4_min {
    width: 162px; height: 187px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -10px;
}

.bg_palm_filter_mob_1_min {
    width: 49px; height: 117px;
    background: url('../img/sprite/palm/home-palm.png') -1529px -394px;
}

.bg_palm_filter_mob_2_min {
    width: 55px; height: 96px;
    background: url('../img/sprite/palm/home-palm.png') -1525px -703px;
}

.bg_palm_filter_mob_3_min {
    width: 89px; height: 66px;
    background: url('../img/sprite/palm/home-palm.png') -600px -350px;
}

.bg_palm_filter_mob_4_min {
    width: 86px; height: 171px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -394px;
}

.bg_palm_help_mob {
    width: 103px; height: 96px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -1151px;
}

.bg_palm_qarant_desk_1 {
    width: 120px; height: 98px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -585px;
}

.bg_palm_qarant_desk_2 {
    width: 112px; height: 157px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -217px;
}

.bg_palm_qarant_desk_3 {
    width: 209px; height: 231px;
    background: url('../img/sprite/palm/home-palm.png') -1147px -224px;
}

.bg_palm_qarant_mob_1 {
    width: 55px; height: 80px;
    background: url('../img/sprite/palm/home-palm.png') -1065px -607px;
}

.bg_palm_qarant_mob_2 {
    width: 38px; height: 84px;
    background: url('../img/sprite/palm/home-palm.png') -1546px -1151px;
}

.bg_palm_qarant_mob_3 {
    width: 37px; height: 59px;
    background: url('../img/sprite/palm/home-palm.png') -1074px -431px;
}

.bg_palm_qarant_mob_4 {
    width: 43px; height: 107px;
    background: url('../img/sprite/palm/home-palm.png') -1526px -853px;
}

.bg_palm_quest_desk_1 {
    width: 206px; height: 134px;
    background: url('../img/sprite/palm/home-palm.png') -839px -607px;
}

.bg_palm_quest_desk_2 {
    width: 75px; height: 50px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -1267px;
}

.bg_palm_quest_mob_1 {
    width: 19px; height: 66px;
    background: url('../img/sprite/palm/home-palm.png') -1563px -585px;
}

.bg_palm_quest_mob_2 {
    width: 30px; height: 84px;
    background: url('../img/sprite/palm/home-palm.png') -1555px -217px;
}

.bg_palm_quest_mob_3 {
    width: 39px; height: 28px;
    background: url('../img/sprite/palm/home-palm.png') -1529px -531px;
}

.bg_palm_sentence_desk_1 {
    width: 373px; height: 259px;
    background: url('../img/sprite/palm/home-palm.png') -10px -484px;
}

.bg_palm_sentence_desk_2 {
    width: 228px; height: 190px;
    background: url('../img/sprite/palm/home-palm.png') -1147px -475px;
}

.bg_palm_sentence_desk_3 {
    width: 256px; height: 194px;
    background: url('../img/sprite/palm/home-palm.png') -1147px -10px;
}

.bg_palm_sentence_desk_4 {
    width: 180px; height: 173px;
    background: url('../img/sprite/palm/home-palm.png') -10px -1144px;
}

.bg_palm_sentence_mob_1 {
    width: 77px; height: 90px;
    background: url('../img/sprite/palm/home-palm.png') -1322px -832px;
}

.bg_palm_sentence_mob_2 {
    width: 69px; height: 126px;
    background: url('../img/sprite/palm/home-palm.png') -736px -484px;
}

.bg_palm_sentence_mob_3 {
    width: 66px; height: 86px;
    background: url('../img/sprite/palm/home-palm.png') -304px -1144px;
}

.bg_palm_why_mob_1 {
    width: 90px; height: 103px;
    background: url('../img/sprite/palm/home-palm.png') -230px -962px;
}

.bg_palm_why_mob_2 {
    width: 73px; height: 127px;
    background: url('../img/sprite/palm/home-palm.png') -1322px -685px;
}

.bg_palm_why_mob_3 {
    width: 92px; height: 99px;
    background: url('../img/sprite/palm/home-palm.png') -340px -962px;
}

.bg_palm_why_mob_4 {
    width: 82px; height: 130px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -703px;
}

.bg_this_min {
    width: 181px; height: 66px;
    background: url('../img/sprite/palm/home-palm.png') -399px -350px;
}

.bg_palm_area_desk_1 {
    width: 369px; height: 454px;
    background: url('../img/sprite/palm/home-palm.png') -10px -10px;
}

.bg_palm_area_desk_2 {
    width: 420px; height: 320px;
    background: url('../img/sprite/palm/home-palm.png') -399px -10px;
}

.bg_palm_area_mob_1 {
    width: 61px; height: 101px;
    background: url('../img/sprite/palm/home-palm.png') -1521px -1001px;
}

.bg_palm_area_mob_2 {
    width: 78px; height: 130px;
    background: url('../img/sprite/palm/home-palm.png') -1423px -1001px;
}

/*header-footer*/
.bg_bank_1_min {
    width: 146px; height: 27px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -225px -404px;
}

.bg_bank_2_min {
    width: 121px; height: 29px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -225px -451px;
}

.bg_map_min {
    width: 26px; height: 36px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -190px -294px;
}

.bg_palm_footer_desk_1_min {
    width: 262px; height: 145px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -10px -10px;
}

.bg_palm_footer_desk_2_min {
    width: 160px; height: 209px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -10px -175px;
}

.bg_palm_footer_mob_1_min {
    width: 85px; height: 77px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -120px -404px;
}

.bg_palm_footer_mob_2_min {
    width: 49px; height: 99px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -190px -175px;
}

.bg_palm_footer_mob_3_min {
    width: 114px; height: 140px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -292px -201px;
}


.bg_palm_footer_mob_4_min {
    width: 83px; height: 153px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -438px -10px;
}

.bg_palm_header_mob_1_min {
    width: 90px; height: 107px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -10px -404px;
}

.bg_palm_header_mob_2_min {
    width: 126px; height: 171px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -292px -10px;
}

.bg_palm_header_mob_3_min {
    width: 78px; height: 135px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -438px -183px;
}

.bg_phone_min {
    width: 26px; height: 27px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -493px -338px;
}

.bg_sun_min {
    width: 35px; height: 35px;
    background: url('../img/sprite/icon-header-footer/header-footer-sprite.png') -438px -338px;
}

.bg_favorite {
    display: block;
    width: 33px; height: 28px;
    background: url('../img/sprite/icon-header-footer/icon.png') -10px -66px;
}

.bg_search {
    display: block;
    width: 36px; height: 36px;
    background: url('../img/sprite/icon-header-footer/icon.png') -10px -10px;
}

.bg_telega {
    display: block;
    width: 25px; height: 26px;
    background: url('../img/sprite/icon-header-footer/icon.png') -119px -56px;
}

.bg_viber {
    display: block;
    width: 26px; height: 26px;
    background: url('../img/sprite/icon-header-footer/icon.png') -63px -66px;
}

.bg_wa {
    display: block;
    width: 26px; height: 26px;
    background: url('../img/sprite/icon-header-footer/icon.png') -119px -10px;
}

.bg_compare {
    display: block;
    width: 33px; height: 33px;
    background: url('../img/sprite/icon-header-footer/icon.png') -66px -10px;
}


.bg_area_1_min {
    width: 109px; height: 126px;
    background: url('../img/sprite/home-icon/area-sprite.png') -550px -146px;
}

.bg_area_2_min {
    width: 132px; height: 126px;
    background: url('../img/sprite/home-icon/area-sprite.png') -10px -303px;
}

.bg_area_3_min {
    width: 132px; height: 126px;
    background: url('../img/sprite/home-icon/area-sprite.png') -162px -303px;
}

.bg_area_4_min {
    width: 129px; height: 130px;
    background: url('../img/sprite/home-icon/area-sprite.png') -401px -10px;
}

.bg_area_5_min {
    width: 188px; height: 130px;
    background: url('../img/sprite/home-icon/area-sprite.png') -10px -10px;
}

.bg_area_6_min {
    width: 80px; height: 126px;
    background: url('../img/sprite/home-icon/area-sprite.png') -10px -449px;
}

.bg_why_1_desk_min {
    display: block;
    width: 154px; height: 116px;
    background: url('../img/sprite/home-icon/area-sprite.png') -177px -160px;
}

.bg_why_1_mob_min {
    display: block;
    width: 102px; height: 84px;
    background: url('../img/sprite/home-icon/area-sprite.png') -228px -449px;
}

.bg_why_2_desk_min {
    display: block;
    width: 147px; height: 123px;
    background: url('../img/sprite/home-icon/area-sprite.png') -10px -160px;
}

.bg_why_2_mob_min {
    display: block;
    width: 98px; height: 89px;
    background: url('../img/sprite/home-icon/area-sprite.png') -110px -449px;
}

.bg_why_3_desk_min {
    display: block;
    width: 136px; height: 117px;
    background: url('../img/sprite/home-icon/area-sprite.png') -314px -303px;
}

.bg_why_3_mob_min {
    display: block;
    width: 89px; height: 84px;
    background: url('../img/sprite/home-icon/area-sprite.png') -350px -449px;
}

.bg_why_4_desk_min {
    display: block;
    width: 163px; height: 116px;
    background: url('../img/sprite/home-icon/area-sprite.png') -218px -10px;
}

.bg_why_4_mob_min {
    display: block;
    width: 122px; height: 83px;
    background: url('../img/sprite/home-icon/area-sprite.png') -550px -292px;
}

.bg_why_5_desk_min {
    display: block;
    width: 131px; height: 116px;
    background: url('../img/sprite/home-icon/area-sprite.png') -550px -10px;
}

.bg_why_5_mob_min {
    display: block;
    width: 100px; height: 97px;
    background: url('../img/sprite/home-icon/area-sprite.png') -401px -160px;
}

/*Catalog*/
.bg_palm_catalog_3_mob {
    width: 40px; height: 91px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -439px -164px;
}

.bg_palm_catalog_4 {
    width: 114px; height: 253px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -10px -209px;
}

.bg_palm_catalog_5 {
    width: 84px; height: 198px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -335px -164px;
}

.bg_palm_catalog_6 {
    width: 114px; height: 253px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -144px -209px;
}

.bg_palm_catalog_1_mob {
    width: 77px; height: 87px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -533px -372px;
}

.bg_palm_catalog_2 {
    width: 178px; height: 134px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -335px -10px;
}

.bg_palm_catalog_2_mob {
    width: 69px; height: 124px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -533px -228px;
}

.bg_palm_catalog_3 {
    width: 84px; height: 198px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -533px -10px;
}

.bg_palm_catalog_1 {
    width: 305px; height: 179px;
    background: url('../img/sprite/catalog/catalog-sprite.png') -10px -10px;
}

.desk_palm {
    @media (max-width: 990px) {
        display: none;
    }
}

.mob_palm {
    display: none;
    @media (max-width: 990px) {
        display: block;
    }
}

