/*Текст*/

.title-sm {
    background: linear-gradient(266.4deg, #12CAD6 44.69%, #12B3D6 98.38%);
    color: #12B3D6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2px;
    margin-bottom: 35px;
    display: block;
    position: relative;
    z-index: 2;
    font: 3rem 'gilroy-exbold';
    @media (max-width: 1280px) {
        font-size: 2rem;
    }
    @media (max-width: 990px) {
        font-size: 1.875rem;
        line-height: 26px;
    }
    br {
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
    }
}



/*Конец*/
