/*Шрифты начало*/

@font-face {
    font-family: "gilroy-exbold";
    src: url("../fonts/Gilroy-ExtraBold.eot") format("eot"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("ttf"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "gilroy-bold";
    src: url("../fonts/Gilroy-Bold.eot") format("eot"),
        url("../fonts/Gilroy-Bold.woff2") format("ttf"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "gilroy-semibold";
    src: url("../fonts/Gilroy-SemiBold.eot") format("eot"),
        url("../fonts/Gilroy-SemiBold.woff2") format("ttf"),
        url("../fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "gilroy-medium";
    src: url("../fonts/Gilroy-Medium.eot") format("eot"),
        url("../fonts/Gilroy-Medium.woff2") format("ttf"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "gilroy-regular";
    src: url("../fonts/Gilroy-Regular.eot") format("eot"),
        url("../fonts/Gilroy-Regular.woff2") format("ttf"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
}


@font-face {
    font-family: "gilroy-light";
    src: url("../fonts/Gilroy-Light.eot") format("eot"),
        url("../fonts/Gilroy-Light.woff2") format("ttf"),
        url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "annabela";
    src: url("../fonts/annabela.ttf");
}

/*Шрифты конец*/