/* Главная о нас */

.about-us {
    display: block;
    cursor: pointer;
}

.about-us-container {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
    @media (max-width: 1280px) {
        padding: 20px;
    }
    @media (max-width: 990px) {
        padding: 15px 10px;
        border-radius: 20px;
    }
    .about-us-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            grid-gap: 40px;
        }
    }
    .about-us-box {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 200px;
        margin: 0 10px;
        &:hover {
            .about-us-info {
                opacity: 1;
            }
            .desk_palm {
                span {
                    position: absolute;
                    opacity: 0;
                    @media (max-width: 990px) {
                        opacity: 1;
                    }
                }
            }
            .about-us-box {
                &::before {
                    position: absolute;
                    opacity: 0;
                }
            }
        }
        @media (max-width: 990px) {
            height: 100%;
            margin: 0;
            justify-content: flex-start;
            align-items: flex-start;
        }
        br {
            @media (max-width: 1200px) {
                display: none;
            }
        }
        &::before {
            content: '';
            background: url(../img/home/about-us/about-bg.svg) no-repeat;
            height: 200px;
            width: 200px;
            display: block;
            position: absolute;
            top: -40px;
            left: -25px;
            @media (max-width: 1280px) {
                height: 160px;
                width: 160px;
                background-size: 200px 200px;
                top: 0;
                left: -15px;
            }
            @media (max-width: 576px) {
                left: 20%;
                height: 140px;
                width: 140px;
                top: -10px;
            }
        }
    }
    .about-us-box:first-child {
        margin-left: 0;
    }
    .about-us-box:last-child {
        margin-right: 0;
    }
    .about-us-info {
        letter-spacing: 0.2px;
        color: #4f4f4f;
        font: 1.05rem/24px "gilroy-regular";
        position: absolute;
        opacity: 0;
        transition: .25s;
        top: 65px;
        @media (max-width: 1200px) {
            font-size: 1rem;
        }
        @media (max-width: 990px) {
            position: relative;
            opacity: 1;
            max-width: 180px;
            top: 0;
        }
        @media (max-width: 576px) {
            max-width: 220px;
            line-height: 18px;
        }
        @media (max-width: 400px) {
            max-width: 170px;
        }
        span {
            font-family: "gilroy-semibold";
            color: #FE674C;
        }
    }
    .about-us-text {
        font: 1.4rem "gilroy-semibold";
        letter-spacing: .2px;
        color: #FE674C;
        margin-bottom: 15px;
        z-index: 2;
        max-width: 175px;
        transition: .3s;
        @media (max-width: 1280px) {
            font-size: 1.1rem;
        }
        @media (max-width: 990px) {
            text-align: left;
            font-size: 1rem;
            max-width: auto;
            margin-bottom: 10px;
        }
        br {
            display: block;
        }
    }
    .desk_palm {
        span {
            position: relative;
            right: -80px;
            top: -10px;
            @media (max-width: 1400px) {
                top: 0;
            }
            @media (max-width: 1280px) {
                right: 0;
            }
        }
    }
    .mob_palm {
        right: 0;
        position: absolute;
        z-index: 9;
    }
}

.about-us-box:nth-child(1) {
    .mob_palm {
        @media (max-width: 576px) {
            top: 30px;
        }
    }
}

.about-us-box:nth-child(2) {
    .about-us-info {
        width: 210px;
        @media (max-width: 990px) {
            width: auto;
            max-width: auto;
        }
    }
    .mob_palm {
        @media (max-width: 576px) {
            top: 35px;
        }
    }
}

.about-us-info {
    br {
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
    }
}

.about-us-box:nth-child(3) {
    .about-us-info {
        width: 210px;
        @media (max-width: 990px) {
            width: auto;
            max-width: auto;
        }
    }
    .mob_palm {
        @media (max-width: 576px) {
            top: 40px;
        }
    }
}

.about-us-box:nth-child(4) {
    .about-us-info {
        width: 200px;
        @media (max-width: 990px) {
            width: auto;
            max-width: auto;
        }
        @media (max-width: 576px) {
            width: 150px;
        }
    }
    .mob_palm {
        @media (max-width: 576px) {
            top: 20px;
            right: -5px;
        }
    }
}

.about-contact-wrap iframe {
    position: relative;
    z-index: 9;
}

.about-us-box:last-child {
    position: relative;
    left: 0;
    width: 220px;
    @media (max-width: 990px) {
        width: auto;
        max-width: auto;
    }
    .mob_palm {
        @media (max-width: 576px) {
            top: 20px;
        }
    }
}


/* Главная о нас конец */


/*Правки о нас*/

.about-us-box {
    @media (max-width: 1280px) {
        height: 300px;
        width: 100%;
    }
}

.about-us-container {
    .about-us-info {
        @media (max-width: 1280px) {
            font-size: .87rem;
            top: 50px;
        }
        @media (max-width: 990px) {
            top: auto;
        }
        br {
            display: none;
        }
    }
}