.buy-us-container {
    background: #fff;
    padding: 35px 20px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    .slick-prev:before {
        content: url(../img/icon/left.svg);
    }
    .slick-next:before {
        content: url(../img/icon/right.svg);
    }
    .slick-prev:before, .slick-next:before {
        font-size: 0;
        opacity: 1;
    }
    .slick-prev {
        z-index: 2;
        right: 70px;
        left: auto;
        top: -40px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .slick-next {
        z-index: 2;
        right: 30px;
        left: auto;
        top: -40px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .palm-1 {
        position: absolute;
        top: -30px;
        left: 25%;
    }
    .palm-2 {
        position: absolute;
        top: -60px;
        right: 10%;
    }
    .palm-3 {
        position: absolute;
        bottom: -100px;
        left: 3%;
    }
    .palm-4 {
        position: absolute;
        bottom: -130px;
        right: 10%;
    }
}

.buy-us-bow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10px;
    position: relative;
    z-index: 99;
}

.buy-us-slider {
    position: relative;
    z-index: 9;
}

.buy-us-box {
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    z-index: 9;
    .buy-title-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 25px;
        .buy-us-photo {
            position: absolute;
            left: -10px;
            top: -95px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #fff;
            img {
                border-radius: 50%;
                border: 4px solid #12b9d6;
                height: 120px;
                width: 120px;
                object-fit: cover;
            }
        }
        .buy-us-title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .flag {
                margin-bottom: 10px;
            }
            .name {
                font:  1.5rem "gilroy-medium";
                color: #151515;
                text-align: right;
            }
        }
    }
    .buy-us-info {
        position: relative;
        margin-bottom: 20px;
        &::before {
            content: url(../img/home/buy/vector.svg);
            position: absolute;
            top: -15px;
        }
        p {
            color: #4F4F4F;
            font: 1.125rem/23px "gilroy-medium";
            @media (max-width: 1280px) {
                font-style: .95rem;
            }
        }
        .check-comment {
            font: 1.125rem/23px "gilroy-medium";
            text-decoration: underline;
            color: #12b9d6;
            font-style: italic;
            cursor: pointer;
            @media (max-width: 1280px) {
                font-style: .95rem;
            }
        }
    }
    .buy-review-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .buy-photo {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
            span {
                font: 1rem "gilroy-medium";
                color: #BDBDBD;
                @media (max-width: 1280px) {
                    font-style: .95rem;
                }
            }
        }
        .data {
            color: #4F4F4F;
            font: 1rem "gilroy-medium";
            @media (max-width: 1280px) {
                font-style: .95rem;
            }
        }
    }
    .buy-review-container {
        min-height: 220px;
        position: relative;
    }
    .none-review {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30%;
        p {
            text-align: center;
            color: #4F4F4F;
            opacity: 0.3;
            font: 1.125rem "gilroy-medium";
        }
    }
    .buy-review-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        p {
            color: #4F4F4F;
            font: 1.125rem "gilroy-bold";
            @media (max-width: 1280px) {
                font-style: .95rem;
            }
        }
    }
    .buy-review-info-box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
        .buy-review-photo {
            img {
                max-width: 100%;
                height: 95px;
                border-radius: 20px;
                object-fit: cover;
            }
        }
        .buy-review-link {
            margin: 0 auto;
            display: block;
            a {
                cursor: pointer;
            }
        }
    }
    .specital-title {
        color: #4F4F4F;
        font: 1.125rem "gilroy-bold";
        @media (max-width: 1280px) {
            font-style: .95rem;
        }
    }
    .special-box-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .special-box {
            position: relative;
            cursor: pointer;
            width: 49%;
            margin: 5px 0;
            &:hover {
                .special-hover {
                    opacity: 1;
                    z-index: 99;
                }
            }
            .special-name {
                font: .95rem "gilroy-light";
                font-style: italic;
                text-decoration-line: underline;
                @media (max-width: 1280px) {
                    font-size: .87rem;
                }
            }
            .special-hover {
                opacity: 0;
                position: absolute;
                padding: 10px;
                display: flex;
                transition: .3s;
                width: 255px;
                align-items: center;
                justify-content: space-between;
                background: #FFF;
                border-radius: 10px;
                left: -90px;
                top: -75px;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    border: 5px solid transparent;
                    border-top: 5px solid #fff;
                }
                .special-social-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        margin: 0 4px;
                    }
                }
                .photo {
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                    height: 50px;
                    border-radius: 50%;
                    width: 50px;
                }
                .prof {
                    font: .95rem "gilroy-light";
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.buy-us-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    margin-top: 0;
    top: -30px;
    @media (max-width: 990px) {
        top: 0;
    }
    a {
        margin: 0 10px;
    }
}