/* Главная категории начало */

.category-container {
    background: #fff;
    padding: 35px 25px;
    padding-right: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    @media (max-width: 576px) {
        padding: 15px 15px 60px 15px;
        border-radius: 20px;
    }
    .palm-1 {
        position: absolute;
        top: -15px;
        left: 30%;
        @media (max-width: 990px) {
            top: 0;
            right: 0;
            left: auto;
        }
    }
    .palm-2 {
        position: absolute;
        top: -30px;
        right: 120px;
        @media (max-width: 990px) {
            left: 0;
            right: auto;
            top: auto;
            bottom: 0;
        }
    }
    .palm-3 {
        display: none;
        @media (max-width: 990px) {
            display: block;
            position: absolute;
            bottom: 0;
            right: -10px;
        }
    }
    .slick-prev:before {
        content: url(../img/icon/left.svg);
    }
    .slick-next:before {
        content: url(../img/icon/right.svg);
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 0;
        opacity: 1;
    }
    .slick-prev {
        z-index: 2;
        right: 70px;
        left: auto;
        top: -55px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @media (max-width: 576px) {
            top: auto;
            right: auto;
            bottom: -55px;
            left: 39%;
        }
        @media (max-width: 380px) {
            left: 38%;
        }
        @media (max-width: 360px) {
            left: 35%;
        }
    }
    .slick-next {
        z-index: 2;
        right: 30px;
        left: auto;
        top: -55px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @media (max-width: 576px) {
            top: auto;
            right: auto;
            bottom: -55px;
            left: 51%;
        }
        @media (max-width: 380px) {
            left: 51%;
        }
        @media (max-width: 360px) {
            left: 50%;
        }
    }
    .slick-list {
        padding: 0 40px 0 0!important;
        position: relative;
        @media (max-width: 576px) {
            padding: 0 75px 0 0!important;
        }
    }
    .title-sm {
        br {
            display: none;
            @media (max-width: 576px) {
                display: block;
            }
        }
    }
}

.category-wrap-slider {
    position: relative;
    width: 100.75%;
    left: -0.75%;
    @media (max-width: 576px) {
        width: 107%;
        left: -2.5%;
    }
    .slick-slide {
        @media (max-width: 576px) {
            padding: 10px 0;
        }
    }
}

.category-box {
    position: relative;
    padding: 20px 5px;
    height: 430px;
    border-radius: 25px;
    display: flex;
    margin: 0 14px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .08);
    @media (max-width: 576px) {
        height: 350px;
        margin: 0 5px;
    }
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        background: #fff;
        mix-blend-mode: screen;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        transition: .3s;
    }
    &:hover {
        &::after {
            opacity: 0;
        }
        .category-bg {
            z-index: 9999;
            opacity: 1;
        }
        .category-icon {
            z-index: -1;
            opacity: 0;
        }
        p {
            opacity: 0;
            z-index: -1;
        }
    }
    .category-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        transition: .3s;
        border-radius: 25px;
    }
    .category-icon {
        position: relative;
        z-index: 2;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    p {
        position: relative;
        z-index: 2;
        color: #2591F4;
        position: absolute;
        bottom: 30px;
        left: 15px;
        font: 1.5rem 'gilroy-bold';
        @media (max-width: 576px) {
            bottom: 20px;
        }
    }
}


/* Главная категории конец */