/* Главная помощь начало */

.help-block-container {
    background: url(../img/home/help/help-bg.png) no-repeat center center;
    background-size: cover;
    border-radius: 30px;
    height: 270px;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    @media (max-width: 576px) {
        background: url(../img/home/help/help-mob.png) no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }
    .palm-1 {
        display: none;
        @media (max-width: 576px) {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .75);
        border-radius: 30px;
        opacity: 0;
        transition: .3s;
        @media (max-width: 576px) {
            mix-blend-mode: screen;
            opacity: .75;
            border-radius: 20px;
        }
    }
    &:hover {
        &::before {
            opacity: 1;
        }
        .help-text {
            opacity: 1;
        }
        .help-btn {
            opacity: 1;
        }
        .help-title {
            text-shadow: none;
        }
    }
    @media (max-width: 1280px) {
        background-position: left;
    }
    @media (max-width: 990px) {
        height: 450px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .helper {
        position: absolute;
        left: 0%;
        bottom: -2%;
        height: auto;
        max-width: 100%;
        @media (max-width: 1800px) {
            left: -5%;
        }
        @media (max-width: 1600px) {
            left: -6%;
            height: 300px;
        }
        @media (max-width: 1200px) {
            left: -10%;
            height: 250px;
        }
        @media (max-width: 990px) {
            display: none;
        }
    }
    .helper-mob {
        display: none;
        @media (max-width: 990px) {
            display: block;
            position: absolute;
            left: 10px;
            bottom: 0;
            height: 300px;
        }
    }
    .help-bloc-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 2;
        @media (max-width: 1600px) {
            right: -100px;
        }
        @media (max-width: 1400px) {
            right: -150px;
        }
        @media (max-width: 990px) {
            right: 0;
            width: 100%;
        }
    }
    .help-title {
        text-shadow: 2px 2px 8px rgb(71, 71, 71);
        color: #FF7E21;
        font: 3rem "gilroy-bold";
        margin-bottom: 20px;
        @media (max-width: 990px) {
            font-size: 1.875rem;
            text-align: left;
            color: #fe5148;
            line-height: 28px;
            text-shadow: none;
        }
        br {
            display: none;
            @media (max-width: 990px) {
                display: block;
            }
        }
    }
    .help-text {
        color: #000;
        margin-bottom: 30px;
        font: 1.5rem/26px "gilroy-light";
        opacity: 0;
        transition: .3s;
        @media (max-width: 990px) {
            font: 1rem/18px "gilroy-light";
            opacity: 1;
            margin-bottom: 20px;
        }
    }
    .help-btn {
        display: inline-block;
        background: linear-gradient(96.93deg, #FF9900 2.64%, #FFCC00 97.41%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
        color: #fff;
        padding: 12px 15px;
        font: 1rem "gilroy-medium";
        width: 130px;
        text-align: center;
        opacity: 0;
        transition: .3s;
        @media (max-width: 990px) {
            opacity: 1;
            width: 250px;
            box-sizing: border-box;
            padding: 15px;
            font-size: 1.2rem;
        }
        @media (max-width: 450px) {
            width: 100%;
        }
        &:hover {
            box-shadow: none;
        }
    }
}


/* Главная помощь конец */