/* Главная слайдер начало */

.main-section-container {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 58vh;
    @media (max-width: 1600px) {
        height: 54vh;
    }
    @media (max-width: 1400px) {
        height: 47vh;
    }
    @media (max-width: 1280px) {
        height: 56vh;
    }
    @media (max-width: 990px) {
        min-height: 400px;
        height: auto;
    }
    @media (max-width: 768px) {
        min-height: 340px;
        border-radius: 20px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 25px;
    }
}

.main-section-container {
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
    }
    .main-bg {
        max-width: 100%;
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 30px;
        @media (max-width: 990px) {
            border-radius: 20px;
        }
    }
}

.main-section {
    .slick-dots {
        display: flex;
        left: 15px;
        bottom: 0;
        top: 90%;
        @media (max-width: 768px) {
            left: 5px;
            top: 83%;
        }
    }
    .slick-dots li button:before {
        color: #fff;
        font-size: 40px;
        opacity: 1;
        @media (max-width: 768px) {
            font-size: 45px;
        }
    }
    .slick-dots li {
        margin: 0;
        @media (max-width: 768px) {
            margin-right: 5px;
        }
    }
    .slick-dots li.slick-active button:before {
        color: #fe6934;
    }
}

.main-secrtion-slider {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 460px;
    top: 27%;
    position: relative;
    @media (max-width: 1400px) {
        top: 21%;
        position: absolute;
        left: 0;
        max-width: 460px;
    }
    @media (max-width: 1300px) {
        top: 25%;
    }
    @media (max-width: 1200px) {
        max-width: 410px;
    }
    @media (max-width: 990px) {
        top: 60px;
        position: relative;
    }
    @media (max-width: 768px) {
        max-width: 100%;
        top: auto;
    }
}

.main-secrtion-slider-box {
    padding: 20px;
    background: rgba(249, 242, 242, .19);
    backdrop-filter: blur(3px);
    border-radius: 0 10px 10px 0;
    margin-right: 0;
    @media (max-width: 768px) {
        margin: 0;
        border-radius: 0;
        padding: 5px 10px;
    }
    .slider-title {
        font: 3vw/46px 'gilroy-exbold';
        margin-bottom: 10px;
        color: #FF7E21;
        color: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        @media (max-width: 1400px) {
            font: 2.5vw/40px 'gilroy-exbold';
            margin-bottom: 5px;
        }
        @media (max-width: 1280px) {
            font-size: 2.5rem;
            line-height: 38px;
            margin-bottom: 5px;
        }
        @media (max-width: 576px) {
            font-size: 2.25rem;
            line-height: 35px;
            margin-bottom: 5px;
        }
    }
    .slider-text {
        color: #fff;
        font: 1.2vw/28px 'gilroy-medium';
        @media (max-width: 1500px) {
            font: 1vw/18px 'gilroy-medium';
        }
        @media (max-width: 990px) {
            font: 1.125rem/22px 'gilroy-medium';
        }
    }
}

.main-link-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 300px;
    bottom: 0;
    @media (max-width: 990px) {
        display: none;
    }
    .main-link-info {
        display: flex;
        align-items: flex-end;
    }
    .main-link-info-box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background: rgba(249, 242, 242, .19);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 15px;
        flex-direction: column;
        width: 325px;
        position: relative;
        right: -170px;
        p,
        span {
            text-shadow: 4px 4px 2px rgba(0, 0, 0, .18);
            color: #fff;
            letter-spacing: .2px;
            font: 1.75vw 'gilroy-exbold';
            margin-bottom: 10px;
            @media (max-width: 1280px) {
                font: 2rem 'gilroy-exbold';
            }
        }
        img {
            position: relative;
            left: 55px;
        }
    }
}

.main-section-wrap {
    .slick-dotted.slick-slider {
        margin: 0;
    }
    margin-bottom: 30px;
    @media (max-width: 1400px) {
        margin-bottom: 20px;
    }
    .container {
        position: relative;
    }
}

.human {
    max-width: 100%;
    height: 380px;
    position: absolute;
    z-index: 2;
    right: -50px;
    bottom: 0;
    @media (max-width: 1400px) {
        height: 340px;
    }
    @media (max-width: 1000px) {
        display: none;
    }
}


/* Главная слайдер конец */