/* Главная карточки начало */

.sentence-container {
    background: #fff;
    padding: 35px 25px;
    padding-right: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    .buy-us-btn-wrap {
        top: -40px;
        @media (max-width: 990px) {
            top: -15px;
        }
        @media (max-width: 620px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            margin-top: 35px;
            margin-bottom: 10px;
        }
        a {
            width: 150px;
            text-align: center;
            @media (max-width: 620px) {
                display: block;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                text-align: center;
                font-size: 1.2rem;
                padding: 15px 25px;
            }
        }
        .btn-transp::after {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    @media (max-width: 990px) {
        padding: 15px;
        border-radius: 20px;
    }
    .palm-1 {
        position: absolute;
        top: -15px;
        left: 30%;
        @media (max-width: 990px) {
            right: 0;
            top: 0;
            left: auto;
        }
    }
    .palm-2 {
        position: absolute;
        top: -30px;
        right: 120px;
        @media (max-width: 990px) {
            left: 0;
            right: auto;
            top: 9%;
        }
    }
    .palm-3 {
        position: absolute;
        left: 0;
        bottom: 0;
        @media (max-width: 990px) {
            right: -5px;
            top: 10%;
            bottom: auto;
            left: auto;
        }
    }
    .palm-4 {
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .slick-prev:before {
        content: url(../img/icon/left.svg);
    }
    .slick-next:before {
        content: url(../img/icon/right.svg);
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 0;
        opacity: 1;
    }
    .slick-prev {
        z-index: 2;
        right: 70px;
        left: auto;
        top: -55px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @media (max-width: 576px) {
            top: auto;
            right: auto;
            bottom: -55px;
            left: 39%;
        }
        @media (max-width: 380px) {
            left: 38%;
        }
        @media (max-width: 360px) {
            left: 35%;
        }
    }
    .slick-next {
        z-index: 2;
        right: 30px;
        left: auto;
        top: -55px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @media (max-width: 576px) {
            top: auto;
            right: auto;
            bottom: -55px;
            left: 51%;
        }
        @media (max-width: 380px) {
            left: 51%;
        }
        @media (max-width: 360px) {
            left: 50%;
        }
    }
    .title-sm {
        margin: 0;
        br {
            display: none;
            @media (max-width: 576px) {
                display: block;
            }
        }
    }
    .tabs__content {
        height: 0;
        z-index: -9;
        opacity: 0;
        .sentence-wrap-slider {
            @media (max-width: 576px) {
                margin-bottom: 50px;
            }
        }
    }
    .active {
        height: auto;
        z-index: 9;
        opacity: 1;
    }
    .tabs__caption {
        margin-top: 20px;
        display: flex;
        margin-bottom: 10px;
        @media (max-width: 576px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        li {
            padding: 18px 8px;
            border-radius: 10px;
            border: 1px solid rgba(21, 21, 21, .2);
            color: #828282;
            font: 1rem 'gilroy-medium';
            cursor: pointer;
            margin-right: 15px;
            width: 100px;
            text-align: center;
            position: relative;
            z-index: 99;
            transition: .3s;
            @media (max-width: 576px) {
                margin: 10px;
                width: 100px;
            }
            @media (max-width: 320px) {
                width: 100%;
                box-sizing: border-box;
                margin: 10px 0;
            }
            &:hover {
                background: #12A7D6;
                color: #fff;
                border: 1px solid #12A7D6;
            }
        }
        .active {
            background: #12A7D6;
            color: #fff;
            border: 1px solid #12A7D6;
        }
    }
    .slick-list {
        padding: 0 40px 0 0 !important;
        position: relative;
    }
}

.sentence-box-slide {
    padding: 25px 0;
    @media (max-width: 576px) {
        padding: 10px 0;
        width: 100%;
    }
}

.sentence-wrap-slider {
    position: relative;
    z-index: 99;
    min-height: 590px;
    width: 100.75%;
    left: -0.75%;
    @media (max-width: 576px) {
        width: 108%;
        left: -3%;
        min-height: auto;
    }
}

.sentence-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    margin: 5px 10px;
    transition: .4s;
    position: relative;
    cursor: pointer;
    z-index: 999;
    @media (max-width: 990px) {
        border-radius: 15px;
    }
    @media (max-width: 360px) {
        margin: 5px;
    }
    .sentence-info-wrap:nth-child(3) {
        align-items: flex-start;
    }
    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        transform: scale(1.025);
        transform: translateY(-30px);
        @media (max-width: 990px) {
            transform: none;
            top: 0;
        }
        .sentence-img {
            &::after {
                content: '';
                position: absolute;
                height: 130px;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 89.11%);
                bottom: 15px;
                left: 0;
                transform: rotate(-180deg);
            }
            &::before {
                content: '';
                position: absolute;
                height: 120px;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 89.11%);
                top: 0;
                transform: rotate(0);
                border-radius: 20px 20px 0 0
            }
        }
        .img-title {
            display: block;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, .75);
        }
        .fire {
            display: block;
        }
        .income-box {
            transform: translateX(0);
        }
        .id-elem {
            display: block;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, .75);    
        }
        .hide-pryce {
            position: relative;
            opacity: 1;
        }
        .sentence-info-box-link {
            .icon-link {
                pointer-events: none;
            }
            .active-link {
                pointer-events: auto;
            }
        }
        .hide-btn {
            position: relative;
            opacity: 1;
            border-top: 1px solid #e6e6e6;
            height: auto;
            padding: 10px;
            @media (max-width: 990px) {
                transform: none;
                top: 0;
            }
            @media (max-width: 360px) {
                padding: 10px 5px;
            }
            a {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .photo {
        max-width: 100%;
        height: 254px;
        object-fit: cover;
        margin-bottom: 15px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        @media (max-width: 990px) {
            border-radius: 15px 15px 0 0;
        }
        @media (max-width: 576px) {
            height: 200px;
        }
    }
    .link-map {
        color: #151515;
        font: 1.125rem 'gilroy-light';
        font-style: italic;
        margin-left: 30px;
        position: relative;
        padding-bottom: 10px;
        display: block;
        @media (max-width: 768px) {
            margin-left: 25px;
            font-size: 1rem;
        }
        &::before {
            content: url(../img/home/sentence/map.svg);
            display: block;
            position: absolute;
            left: -15px;
        }
    }
}

.sentence-img {
    position: relative;
    overflow: hidden;
    .fire {
        position: absolute;
        left: 25px;
        top: 0;
        padding: 10px 5px;
        background: linear-gradient(90.14deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        border-radius: 0 0 5px 5px;
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
        @media (max-width: 768px) {
            padding: 5px;
        }
    }
    .id-elem {
        position: absolute;
        font: normal 1rem 'gilroy-medium';
        color: #fff;
        right: 10px;
        top: 10px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
    }
    .income-box {
        font: normal 1rem 'gilroy-medium';
        color: #fff;
        background: linear-gradient(268.55deg, #12CAD6 44.69%, #12B3D6 98.38%);
        border-radius: 30px 0px 0px 30px;
        position: absolute;
        padding: 5px 8px;
        right: 0;
        bottom: 95px;
        transition: .2s;
        transform: translateX(100%);
        text-align: right;
        @media (max-width: 990px) {
            display: block;
            transform: translateX(0);
        }
        @media (max-width: 768px) {
            font-size: .87rem;
        }
    }
    .img-title {
        font: normal 1.1rem/20px 'gilroy-bold';
        color: #fff;
        left: 10px;
        bottom: 25px;
        position: absolute;
        display: none;
        z-index: 9;
        @media (max-width: 990px) {
            display: block;
        }
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}

.price-box {
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    position: relative;
    &:hover {
        .convert {
            display: block;
        }
    }
    .hide-pryce {
        position: absolute;
        padding-right: 15px;
        opacity: 0;
        transition: .5s;
        @media (max-width: 768px) {
            position: relative;
            opacity: 1;
        }
        &::after {
            content: url(../img/icon/right-light.svg);
            position: absolute;
            right: 5px;
            @media (max-width: 990px) {
                top: 1px;
            }
            @media (max-width: 576px) {
                top: 1.5px;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 40%;
            display: block;
            width: 80%;
            height: 3px;
            left: 0;
            background: linear-gradient(254.79deg, #12CAD6 44.69%, #12B3D6 98.38%);
        }
    }
    .price {
        background: linear-gradient(90.83deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        border-radius: 30px 0 0 30px;
        padding: 10px 12px;
        font: 1.1rem 'gilroy-bold';
        color: #fff;
        position: relative;
        cursor: pointer;
        @media (max-width: 768px) {
            font-size: 1rem;
            padding: 10px;
        }
        @media (max-width: 576px) {
            padding-right: 5px;
            font-size: .95rem;
        }
    }
    .convert {
        position: absolute;
        padding: 8px;
        display: none;
        background: #fff;
        color: #4F4F4F;
        letter-spacing: 0.03em;
        font: .8rem 'gilroy-light';
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        top: -28px;
        z-index: 998;
        &::before {
            content: '';
            position: absolute;
            left: 42px;
            bottom: -10px;
            border: 5px solid transparent;
            border-top: 5px solid #fff;
        }
    }
}

.sentence-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    @media (max-width: 576px) {
        margin-bottom: 5px;
    }
}

.sentence-info-box-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 5px;
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4px;
        position: relative;
        height: 26px;
        &:hover {
            span {
                display: block;
            }
        }
        span {
            position: absolute;
            padding: 6px;
            display: none;
            background: #fff;
            color: #4F4F4F;
            letter-spacing: 0.03em;
            font: .75rem 'gilroy-light';
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            bottom: 87%;
            z-index: 2;
            white-space: nowrap;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            &::before {
                content: '';
                position: absolute;
                left: 45%;
                bottom: -10px;
                border: 5px solid transparent;
                border-top: 5px solid #fff;
            }
        }
        img {
            filter: grayscale(100%);
            height: 26px;
            opacity: .3;
            @media (max-width: 576px) {
                height: 22px;
            }
        }
    }
    .active-link {
        pointer-events: auto;
        img {
            opacity: 1;
            filter: grayscale(0);
        }
    }
}

.sentence-info-box {
    padding: 0 15px;
    @media (max-width: 990px) {
        padding: 0 10px;
    }
    &:hover {
        .plan {
            display: block;
        }
    }
    .plan {
        position: absolute;
        padding: 8px;
        display: none;
        background: #fff;
        color: #4F4F4F;
        letter-spacing: .03em;
        font: .8rem 'gilroy-light';
        box-shadow: 4px 4px 10px rgba(0, 0, 0, .25);
        border-radius: 10px;
        top: -80px;
        right: -15px;
        width: 210px;
        z-index: 99;
        @media (max-width: 1400px) {
            right: -8px;
            width: 200px;
            top: -85px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 185px;
            bottom: -10px;
            border: 5px solid transparent;
            border-top: 5px solid #fff;
        }
    }
    .sentence-title {
        color: #151515;
        font: .87rem 'gilroy-bold';
        opacity: .5;
        margin-bottom: 5px;
        display: flex;
        @media (max-width: 990px) {
            margin-bottom: 0;
        }
        svg {
            position: relative;
            left: 5px;
            top: -5px;
            cursor: pointer;
        }
    }
    .sentence-text {
        color: #151515;
        font: 1rem 'gilroy-light';
    }
}

.hide-btn {
    opacity: 1;
    position: relative;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: none;
    transition: .3s;
    @media (max-width: 990px) {
        display: flex;
        padding: 10px;
        height: auto;
        border-top: 1px solid #e6e6e6;
    }
    @media (max-width: 380px) {
        padding: 10px 5px;
    }
    a {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 10px;
        position: relative;
        font: .9rem 'gilroy-medium';
        transform: translateY(70%);
        transition: .3s;
        opacity: 0;
        @media (max-width: 990px) {
            opacity: 1;
            display: block;
            transform: translateY(0);
        }
        @media (max-width: 380px) {
            border-radius: 20px;
            font-size: .8rem;
        }
    }
    .favorite {
        color: #FE4C4C;
        padding-right: 30px;
        &::after {
            content: url(../img/icon/favorite.svg);
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }
    .compare {
        color: #12CAD6;
        padding-right: 30px;
        &::after {
            content: url(../img/icon/compare.svg);
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }
}

.mob-pagi {
    display: none;
    @media (max-width: 990px) {
        display: block;
    }
}

.top-width {
    width: 110px;
    text-align: center;
}

.favorite-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    left: -10px;
    @media (max-width: 576px) {
        width: 110%;
    }
    .simple-block {
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.favorite-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    z-index: 9;
    width: 80%;
    margin-bottom: 20px;
    @media (max-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 990px) {
        margin-top: 15px;
        width: 100%;
        padding-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
    }
    li {
        height: 510px;
        position: relative;
        @media (max-width: 990px) {
            height: 100%;
            width: 100%;
            margin-right: 15px;
        }
        .sentence-box-slide {
            @media (max-width: 990px) {
                padding-top: 30px;
                padding-bottom: 0;
            }
        }
        &:hover {
            .close-icon {
                opacity: 1;
            }
        }
        .close-icon {
            position: absolute;
            right: -19px;
            opacity: 0;
            top: 0;
            @media (max-width: 990px) {
                opacity: 1;
                right: -10px;
            }
        }
    }
    .sentence-box-slide {
        @media (max-width: 990px) {
            margin-right: 10px;
            width: 100%;
        }
    }
    .sentence-box {
        margin: 5px 10px;
        @media (max-width: 990px) {
            margin-right: 10px;
            width: 100%;
        }
    }
    .sentence-box {
        z-index: 9;
    }
}

.finger {
    display: none;
    @media (max-width: 990px) {
        display: block;
        position: absolute;
        left: 10px;
        bottom: 28px;
        animation: finger 3s linear infinite;
    }
    @media (max-width: 768px) {
        bottom: 4px;
    }
    svg {
        @media (max-width: 990px) {
            height: 30px;
            width: 30px;
        }
    }
}

@keyframes finger {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(35px);
    }
    50% {
        transform: translateX(65px);
    }
    75% {
        transform: translateX(35px);
    }
    100% {
        transform: translateX(0);
    }
}

.mob-form {
    display: none;
    @media (max-width: 990px) {
        display: block;
    }
}

.favorite {
    position: relative;
    .sentence-container .palm-1 {
        height: 140px;
        left: 20%;
        @media (max-width: 990px) {
            left: -140px;
            height: 100px;
        }
    }
}

.simple-form-favorite {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    padding: 40px 15px;
    background: linear-gradient(90.83deg, #FE4C4C 1.96%, #FF7E21 96.6%);
    margin-right: 15px;
    margin-left: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    z-index: 9;
    right: 0;
    top: 5px;
    position: relative;
    @media (max-width: 990px) {
        height: auto;
    }
    .tkank-feedback {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 99;
        background: linear-gradient(90.83deg, #FE4C4C 1.96%, #FF7E21 96.6%);
        left: 0;
        top: 0;
        display: none;
        border-radius: 30px;
        .tkank-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: relative;
            top: -50px;
        }
    }
    @media (max-width: 990px) {
        margin: 20px 0;
    }
    .palm-5 {
        position: absolute;
        left: -20px;
        top: -20px;
    }
    .palm-6 {
        position: absolute;
        right: -20px;
        top: -30px;
    }
    .palm-7 {
        position: absolute;
        left: -15px;
        bottom: 10px;
    }
    .form-title {
        color: #fff;
        text-align: center;
        font: 1.2rem/22px 'gilroy-exbold';
        position: relative;
        @media (max-width: 1400px) {
            font-size: 1rem;
        }
        @media (max-width: 990px) {
            font-size: 1.2rem;
        }
    }
     ::-webkit-input-placeholder {
        color: #828282;
        opacity: 0.5;
        font: .87rem 'gilroy-medium';
    }
     ::-moz-placeholder {
        color: #828282;
        opacity: 0.5;
        font: .87rem 'gilroy-medium';
    }
    /* Firefox 19+ */
     :-moz-placeholder {
        color: #828282;
        opacity: 0.5;
        font: .87rem 'gilroy-medium';
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
        color: #828282;
        opacity: 0.5;
        font: .87rem 'gilroy-medium';
    }
    .label-simple {
        position: absolute;
        color: #4F4F4F;
        left: 8px;
        top: 4px;
        font: 1rem 'gilroy-medium';
        top: 5px;
        z-index: 3;
    }
    .modal-box-input {
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
    }
    input {
        border: 1px solid #E0E0E0;
        background: #fff;
        border-radius: 10px;
        padding: 29px 8px 6px 8px;
        width: 100%;
        box-sizing: border-box;
        z-index: 2;
        position: relative;
    }
    .form-input-box {
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
    }
    .modal-input-box {
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
    }
    .simple-num {
        display: flex;
        position: relative;
        cursor: pointer;
        .country-select {
            display: flex;
            position: absolute;
            align-items: center;
            z-index: 9;
            width: 75px;
            justify-content: space-between;
            left: 10px;
            bottom: 27px;
            p {
                color: #4F4F4F;
                font: .87rem 'gilroy-medium';
                position: relative;
                left: -5px;
            }
            .flag {
                border-radius: 5px;
                height: 15px;
            }
            .arrow {
                position: relative;
                bottom: -2px;
                right: 5px;
            }
        }
        .counrty {
            width: 85px;
            border-radius: 10px 0 0 10px;
            pointer-events: none;
        }
        input:last-child {
            border-radius: 10px 0 0 10px;
        }
        .modal-box-inside:last-child {
            width: 100%;
            input:last-child {
                border-radius: 0 10px 10px 0;
            }
        }
    }
    .modal-box-inside {
        position: relative;
    }
    .btn-form-wrap {
        margin: 0 20px;
        position: relative;
        @media (max-width: 576px) {
            margin: 0;
        }
        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12.5px 20px;
            background: #FFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, .21);
            border-radius: 60px;
            color: #FE4C4C;
            border: none;
            font: 1rem 'gilroy-bold';
            cursor: pointer;
            transition: .3s;
            @media (max-width: 576px) {
                font-size: 1.125rem;
                padding: 15px;
            }
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.sentence-wrap-slider-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 576px) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    li {
        margin: 0 5px;
        @media (max-width: 1024px) {
            margin: 0 2px;
        }
        button {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4F4F4F;
        }
    }
    .num {
        transition: .3s;
        position: relative;
        &:hover {
            background: #fff;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
            border-radius: 50%;
        }
    }
    .active {
        background: #FFFFFF;
        height: 30px;
        width: 30px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        transition: .3s;
    }
    .prev {
        height: 30px;
        width: 30px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        position: relative;
        margin-right: 5px;
        transition: .3s;
        &::before {
            content: url(../img/arrow-pagin-disabled.svg);
            position: absolute;
            left: 10px;
            top: 7px;
        }
        &:hover {
            background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
            &::before {
                content: url(../img/arrow-pagin-active.svg);
                transform: rotate(180deg);
                top: 5px;
            }
        }
        svg {
            position: relative;
            right: 1px;
        }
    }
    .next {
        margin-left: 5px;
        height: 30px;
        width: 30px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.21);
        position: relative;
        transition: .3s;
        &::before {
            content: url(../img/arrow-pagin-disabled.svg);
            position: absolute;
            left: 11px;
            top: 5px;
            transform: rotate(180deg);
        }
        &:hover {
            background: linear-gradient(90.19deg, #FE4C4C 1.96%, #FF7E21 96.6%);
            &::before {
                content: url(../img/arrow-pagin-active.svg);
                transform: rotate(0);
                top: 8px;
                left: 11px;
            }
        }
        svg {
            position: relative;
            left: 0;
        }
    }
    button {
        color: #4F4F4F;
        font: 1rem "gilroy-medium";
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
    }
}

.mob-form {
    .simple-form-favorite {
        max-width: 400px;
        margin: 0 auto;
        right: auto;
    }
}

.simple-block {
    position: relative;
    width: 300px;
    height: 100%;
    padding-right: 10px;
    padding-top: 25px;
    @media (max-width: 1400px) {
        width: 350px;
    }
}

.fixed-simple-form {
    transition: .3s;
    right: auto;
}

.fixed {
    position: fixed;
    top: 100px;
}


/* Главная карточки конец */